In [146]:
import numpy as np
import pandas as pd
otto_train_row = pd.read_csv('./otto_train/otto_train.csv')

In [147]:
# 원본 데이터 복사
otto_train = otto_train_row.copy()

# 데이터 확인
print(otto_train.head())
print()
print(otto_train.tail())

   id  feat_1  feat_2  feat_3  feat_4  feat_5  feat_6  feat_7  feat_8  feat_9  \
0   1       1       0       0       0       0       0       0       0       0
1   2       0       0       0       0       0       0       0       1       0
2   3       0       0       0       0       0       0       0       1       0
3   4       1       0       0       1       6       1       5       0       0
4   5       0       0       0       0       0       0       0       0       0

   ...  feat_85  feat_86  feat_87  feat_88  feat_89  feat_90  feat_91  \
0  ...        1        0        0        0        0        0        0
1  ...        0        0        0        0        0        0        0
2  ...        0        0        0        0        0        0        0
3  ...        0        1        2        0        0        0        0
4  ...        1        0        0        0        0        1        0

   feat_92  feat_93   target
0        0        0  Class_1
1        0        0  Class_1
2        0        0  Class_1
3        0        0  Class_1
4        0        0  Class_1

[5 rows x 95 columns]

          id  feat_1  feat_2  feat_3  feat_4  feat_5  feat_6  feat_7  feat_8  \
61873  61874       1       0       0       1       1       0       0       0
61874  61875       4       0       0       0       0       0       0       0
61875  61876       0       0       0       0       0       0       0       3
61876  61877       1       0       0       0       0       0       0       0
61877  61878       0       0       0       0       0       0       0       0

       feat_9  ...  feat_85  feat_86  feat_87  feat_88  feat_89  feat_90  \
61873       0  ...        1        0        0        0        0        0
61874       0  ...        0        2        0        0        2        0
61875       1  ...        0        3        1        0        0        0
61876       0  ...        0        0        0        0        1        0
61877       0  ...        0        0        0        0        0        0

       feat_91  feat_92  feat_93   target
61873        0        2        0  Class_9
61874        0        1        0  Class_9
61875        0        0        0  Class_9
61876        3       10        0  Class_9
61877        0        2        0  Class_9

[5 rows x 95 columns]

In [148]:
otto_train.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [149]:
otto_train.info()
# 95개의 변수와 61878의 행이 존재

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61878 entries, 0 to 61877
Data columns (total 95 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       61878 non-null  int64
 1   feat_1   61878 non-null  int64
 2   feat_2   61878 non-null  int64
 3   feat_3   61878 non-null  int64
 4   feat_4   61878 non-null  int64
 5   feat_5   61878 non-null  int64
 6   feat_6   61878 non-null  int64
 7   feat_7   61878 non-null  int64
 8   feat_8   61878 non-null  int64
 9   feat_9   61878 non-null  int64
 10  feat_10  61878 non-null  int64
 11  feat_11  61878 non-null  int64
 12  feat_12  61878 non-null  int64
 13  feat_13  61878 non-null  int64
 14  feat_14  61878 non-null  int64
 15  feat_15  61878 non-null  int64
 16  feat_16  61878 non-null  int64
 17  feat_17  61878 non-null  int64
 18  feat_18  61878 non-null  int64
 19  feat_19  61878 non-null  int64
 20  feat_20  61878 non-null  int64
 21  feat_21  61878 non-null  int64
 22  feat_22  61878 non-null  int64
 23  feat_23  61878 non-null  int64
 24  feat_24  61878 non-null  int64
 25  feat_25  61878 non-null  int64
 26  feat_26  61878 non-null  int64
 27  feat_27  61878 non-null  int64
 28  feat_28  61878 non-null  int64
 29  feat_29  61878 non-null  int64
 30  feat_30  61878 non-null  int64
 31  feat_31  61878 non-null  int64
 32  feat_32  61878 non-null  int64
 33  feat_33  61878 non-null  int64
 34  feat_34  61878 non-null  int64
 35  feat_35  61878 non-null  int64
 36  feat_36  61878 non-null  int64
 37  feat_37  61878 non-null  int64
 38  feat_38  61878 non-null  int64
 39  feat_39  61878 non-null  int64
 40  feat_40  61878 non-null  int64
 41  feat_41  61878 non-null  int64
 42  feat_42  61878 non-null  int64
 43  feat_43  61878 non-null  int64
 44  feat_44  61878 non-null  int64
 45  feat_45  61878 non-null  int64
 46  feat_46  61878 non-null  int64
 47  feat_47  61878 non-null  int64
 48  feat_48  61878 non-null  int64
 49  feat_49  61878 non-null  int64
 50  feat_50  61878 non-null  int64
 51  feat_51  61878 non-null  int64
 52  feat_52  61878 non-null  int64
 53  feat_53  61878 non-null  int64
 54  feat_54  61878 non-null  int64
 55  feat_55  61878 non-null  int64
 56  feat_56  61878 non-null  int64
 57  feat_57  61878 non-null  int64
 58  feat_58  61878 non-null  int64
 59  feat_59  61878 non-null  int64
 60  feat_60  61878 non-null  int64
 61  feat_61  61878 non-null  int64
 62  feat_62  61878 non-null  int64
 63  feat_63  61878 non-null  int64
 64  feat_64  61878 non-null  int64
 65  feat_65  61878 non-null  int64
 66  feat_66  61878 non-null  int64
 67  feat_67  61878 non-null  int64
 68  feat_68  61878 non-null  int64
 69  feat_69  61878 non-null  int64
 70  feat_70  61878 non-null  int64
 71  feat_71  61878 non-null  int64
 72  feat_72  61878 non-null  int64
 73  feat_73  61878 non-null  int64
 74  feat_74  61878 non-null  int64
 75  feat_75  61878 non-null  int64
 76  feat_76  61878 non-null  int64
 77  feat_77  61878 non-null  int64
 78  feat_78  61878 non-null  int64
 79  feat_79  61878 non-null  int64
 80  feat_80  61878 non-null  int64
 81  feat_81  61878 non-null  int64
 82  feat_82  61878 non-null  int64
 83  feat_83  61878 non-null  int64
 84  feat_84  61878 non-null  int64
 85  feat_85  61878 non-null  int64
 86  feat_86  61878 non-null  int64
 87  feat_87  61878 non-null  int64
 88  feat_88  61878 non-null  int64
 89  feat_89  61878 non-null  int64
 90  feat_90  61878 non-null  int64
 91  feat_91  61878 non-null  int64
 92  feat_92  61878 non-null  int64
 93  feat_93  61878 non-null  int64
 94  target   61878 non-null  object
dtypes: int64(94), object(1)
memory usage: 44.8+ MB

In [150]:
# 필요 없는 행 제거
otto_train = otto_train.drop(['id'], axis=1)
otto_train.head(1)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1

In [151]:
# traget 데이터는 object 형태
# target 데이터는  class_1~class_2로 이루어짐
otto_train['target']
# >> 이를 수치형 데이터로 변환 필요

0        Class_1
1        Class_1
2        Class_1
3        Class_1
4        Class_1
          ...
61873    Class_9
61874    Class_9
61875    Class_9
61876    Class_9
61877    Class_9
Name: target, Length: 61878, dtype: object

In [152]:
# 데이터 값 변경 방법
# otto_train.loc[otto_train.index[0], 'target'] = 1
# otto_train.head(1)

In [153]:
# 타겟 변수의 형태 변환
target_mapping = {
    'Class_1': 1,
    'Class_2': 2,
    'Class_3': 3,
    'Class_4': 4,
    'Class_5': 5,
    'Class_6': 6,
    'Class_7': 7,
    'Class_8': 8,
    'Class_9': 9
}

In [154]:
# 행 값 확인하는 방법
# otto_train['target'].iloc[0]

In [155]:
# 데이터 값 변경 방법
# otto_train.loc[otto_train.index[0], 'target'] = 1
# otto_train.head(1)

In [156]:
#for object_, int_ in target_mapping.items():
#    for i in range(len(otto_train)):
#        if otto_train['target'].iloc[i].isin(object_):
#            otto_train['target'].iloc[i] = int_

In [157]:
# 형태 변환 apply, lambda 이용
otto_train['target'] = otto_train['target'].apply(lambda x : target_mapping[x])
target = otto_train['target']

# >> 블로그 참조
# >> 이 방법이 더 best
# >> 바로 정수형으로 변환해줌

# otto_train['target'].apply : 타겟의 각 값이 apply 메스드를 사용하여 각 값에 함수 적용
# lambda x : target_mapping[x] : 주어진 x값을 매핑의 딕셔너리에서 찾아서 해당 값으로 변환

In [158]:
target

0        1
1        1
2        1
3        1
4        1
        ..
61873    9
61874    9
61875    9
61876    9
61877    9
Name: target, Length: 61878, dtype: int64

In [159]:
#for object_, int_ in target_mapping.items():
#    for i in range(len(otto_train)):
#        if otto_train['target'].iloc[i] == object_:
#            otto_train.at[i, 'target'] = int_
            
#otto_train['target'].head(10)

In [160]:
#otto_train['target'] = otto_train['target'].astype(int)

In [165]:
otto_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61878 entries, 0 to 61877
Data columns (total 94 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   feat_1   61878 non-null  int64
 1   feat_2   61878 non-null  int64
 2   feat_3   61878 non-null  int64
 3   feat_4   61878 non-null  int64
 4   feat_5   61878 non-null  int64
 5   feat_6   61878 non-null  int64
 6   feat_7   61878 non-null  int64
 7   feat_8   61878 non-null  int64
 8   feat_9   61878 non-null  int64
 9   feat_10  61878 non-null  int64
 10  feat_11  61878 non-null  int64
 11  feat_12  61878 non-null  int64
 12  feat_13  61878 non-null  int64
 13  feat_14  61878 non-null  int64
 14  feat_15  61878 non-null  int64
 15  feat_16  61878 non-null  int64
 16  feat_17  61878 non-null  int64
 17  feat_18  61878 non-null  int64
 18  feat_19  61878 non-null  int64
 19  feat_20  61878 non-null  int64
 20  feat_21  61878 non-null  int64
 21  feat_22  61878 non-null  int64
 22  feat_23  61878 non-null  int64
 23  feat_24  61878 non-null  int64
 24  feat_25  61878 non-null  int64
 25  feat_26  61878 non-null  int64
 26  feat_27  61878 non-null  int64
 27  feat_28  61878 non-null  int64
 28  feat_29  61878 non-null  int64
 29  feat_30  61878 non-null  int64
 30  feat_31  61878 non-null  int64
 31  feat_32  61878 non-null  int64
 32  feat_33  61878 non-null  int64
 33  feat_34  61878 non-null  int64
 34  feat_35  61878 non-null  int64
 35  feat_36  61878 non-null  int64
 36  feat_37  61878 non-null  int64
 37  feat_38  61878 non-null  int64
 38  feat_39  61878 non-null  int64
 39  feat_40  61878 non-null  int64
 40  feat_41  61878 non-null  int64
 41  feat_42  61878 non-null  int64
 42  feat_43  61878 non-null  int64
 43  feat_44  61878 non-null  int64
 44  feat_45  61878 non-null  int64
 45  feat_46  61878 non-null  int64
 46  feat_47  61878 non-null  int64
 47  feat_48  61878 non-null  int64
 48  feat_49  61878 non-null  int64
 49  feat_50  61878 non-null  int64
 50  feat_51  61878 non-null  int64
 51  feat_52  61878 non-null  int64
 52  feat_53  61878 non-null  int64
 53  feat_54  61878 non-null  int64
 54  feat_55  61878 non-null  int64
 55  feat_56  61878 non-null  int64
 56  feat_57  61878 non-null  int64
 57  feat_58  61878 non-null  int64
 58  feat_59  61878 non-null  int64
 59  feat_60  61878 non-null  int64
 60  feat_61  61878 non-null  int64
 61  feat_62  61878 non-null  int64
 62  feat_63  61878 non-null  int64
 63  feat_64  61878 non-null  int64
 64  feat_65  61878 non-null  int64
 65  feat_66  61878 non-null  int64
 66  feat_67  61878 non-null  int64
 67  feat_68  61878 non-null  int64
 68  feat_69  61878 non-null  int64
 69  feat_70  61878 non-null  int64
 70  feat_71  61878 non-null  int64
 71  feat_72  61878 non-null  int64
 72  feat_73  61878 non-null  int64
 73  feat_74  61878 non-null  int64
 74  feat_75  61878 non-null  int64
 75  feat_76  61878 non-null  int64
 76  feat_77  61878 non-null  int64
 77  feat_78  61878 non-null  int64
 78  feat_79  61878 non-null  int64
 79  feat_80  61878 non-null  int64
 80  feat_81  61878 non-null  int64
 81  feat_82  61878 non-null  int64
 82  feat_83  61878 non-null  int64
 83  feat_84  61878 non-null  int64
 84  feat_85  61878 non-null  int64
 85  feat_86  61878 non-null  int64
 86  feat_87  61878 non-null  int64
 87  feat_88  61878 non-null  int64
 88  feat_89  61878 non-null  int64
 89  feat_90  61878 non-null  int64
 90  feat_91  61878 non-null  int64
 91  feat_92  61878 non-null  int64
 92  feat_93  61878 non-null  int64
 93  target   61878 non-null  int64
dtypes: int64(94)
memory usage: 44.4 MB

In [167]:
# feature 과 target 분리
#feature = otto_train.iloc[:, :93]
#>> 슬라이싱 이용

# 함수 사용하여 데이터 분리
feature_columns = list(otto_train.columns.difference(['target']))
# 타겟이란 이름과 다른 열을 리스트로 뽑음
feature = otto_train[feature_columns]
feature

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
0,1,0,1,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,0,1,1,0,...,0,1,2,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,4,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,1,0,0,1,3,0,0,9,0,2,...,1,0,0,0,0,0,0,0,2,0
61874,4,0,0,0,4,2,0,0,0,0,...,0,2,0,0,2,0,0,0,1,0
61875,0,0,0,0,0,1,0,0,0,1,...,0,3,1,0,0,1,0,0,0,0
61876,1,0,0,0,0,0,0,3,0,0,...,0,0,0,0,1,0,0,3,10,0
61877,0,0,0,0,3,0,1,1,1,1,...,0,0,0,0,0,0,0,0,2,0

In [169]:
import os
from sklearn.model_selection import train_test_split

In [168]:
x = feature 
y = target

In [172]:
# 학습데이터(test)와 평가데이터(train) 8:2 비율로 만들기

# train_x : 독립변수 x(특징 데이터)의 평가데이터
# test_x : 독립변수 x(특징 데이터)의 학습데이터
# train_y : 종속변수 y(타겟 데이터)의 평가데이터
# test_y : 종속변수 y(타겟 데이터)의 학습데이터
train_x, test_x, train_y, test_y = train_test_split(x,y, test_size =0.2, random_state=42 )
# x를 0.2의 비율을 train_x의 변수로 대입 
# x를 1-0.2의 비울로 test_x의 변수로 대입
# y도 동일한 방식

print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(49502, 93) (12376, 93) (49502,) (12376,)

In [173]:
# 기본적인 random forest 모형

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score  # 정확도 함수

# clf : Classifier (분류)
clf = RandomForestClassifier(n_estimators=20, max_depth=5, random_state=20)
# n_estimators=20 20개의 의사결정 트리를 만든다 
#>> 이 값이 클수록 모델의 복잡도 증가, 성능 향상 증가
# max_depth=5 트리의 최대 깊이
#>> 모델의 깊이를 제한함으로써 모델의 과적합 방지
#>> 각 트리가 너무 깊게 성장하지 않도록 함

clf.fit(train_x, train_y)
# fit 메서드를 호출하면 입력데이터와 출력데이터 사이의 관계를 학습

predict1 = clf.predict(test_x) 
print(accuracy_score(test_y, predict1))
# predict1은 test_x에 대한 에측된 출력값을 계산
# accuracy_score 함수는 예측된 출력 값 predict1과 실제 정답 데이터 test_y를 
# 비교하여 분류 모델의 정확도를 계산

# 1에 가까울수록 모델이 더 정확하게 예측

# 약 61%의 정확도

0.6059308338720103

In [174]:
# Random Forest Sample 개수 증가

clf = RandomForestClassifier(n_estimators=100, max_depth=20, random_state=20)
# 적합
clf.fit(train_x, train_y)
# 결과 예측
predict2 = clf.predict(test_x) 
print(accuracy_score(test_y, predict2))

# 약 78%의 정확도

0.781431803490627

In [175]:
# Random Forest Sample 개수 증가

clf = RandomForestClassifier(n_estimators=300, max_depth=20, random_state=20)
# 적합
clf.fit(train_x, train_y)
# 결과 예측
predict3 = clf.predict(test_x) 
print(accuracy_score(test_y, predict3))

# 약 78%의 정확도

0.7828054298642534

In [177]:
# Random Forest Tree 깊이 증가

clf = RandomForestClassifier(n_estimators=100, max_depth=100, random_state=20)
# 적합
clf.fit(train_x, train_y)
# 결과 예측
predict4 = clf.predict(test_x) 
print(accuracy_score(test_y, predict4))

# 약 80%의 정확도

0.8091467356173239